.vs/
bin/
obj/
/Quasardb*/*.exe
*.user
*.suo
*.DotSettings
/TestResults/
/packages/
/Backup/

/Quasardb/win*/*.dll
/Quasardb.Tests/db/
/QuasardbTests/db/
/UpgradeLog.htm
/Quasardb/*.nupkg

# Ignore qdb folder
qdb/

# Ignore test cluster files
insecure/
secure/
*.cfg
*.key
*.err.txt
*.out.txt

Quasardb/win32/*
!Quasardb/win32/README.md
Quasardb/win64/*
!Quasardb/win64/README.md
Quasardb/linux/*
!Quasardb/linux/README.md
