.vs/
bin/
obj/
/Quasardb*/*.exe
*.user
*.suo
*.DotSettings
/TestResults/
/packages/

/Quasardb/win*/*.dll
/Quasardb.Tests/qdbd.exe
/Quasardb.Tests/db/
/QuasardbTests/db/
/UpgradeLog.htm
/Quasardb/*.nupkg

# Ignore qdb folder
qdb/

# Ignore test cluster files
insecure/
secure/
*.cfg
*.key
*.err.txt
*.out.txt
