.vs/
bin/
obj/
*.user
*.suo
*.DotSettings
/TestResults/
/packages/

/Quasardb/win*/*.dll
/Quasardb.Tests/qdbd.exe
/Quasardb.Tests/db/
/QuasardbTests/db/
/UpgradeLog.htm
/Quasardb/*.nupkg

# Ignore qdb folder
qdb/